<div class="filters-container">
  <div class="filters">
    <h2>Filters</h2>
    <app-search-bar (searchTerm)="onSearchNews($event)"></app-search-bar>

    <app-filters
      (filtersChanged)="onFilterChanged($event)"
      [categories]="categories"
    ></app-filters>
  </div>
</div>

<div class="container">
  <h2>Articles</h2>

  <div *ngIf="articles$ | async as articles; else loading">
    <ul>
      <li *ngFor="let article of articles">
        <app-article [article]="article"></app-article>
      </li>
    </ul>
  </div>

  <div *ngIf="!(articles$ | async)?.length">No articles found.</div>
  <ng-template #loading> Loading articles... </ng-template>
</div>
