.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.6rem;
    padding: 10px;
    margin: 10px;
    border: solid 1px #e9ecef;
    border-radius: 8px;
    // -webkit-box-shadow: 0px 0px 10px 0px rgba(171, 171, 171, 1);
    // -moz-box-shadow: 0px 0px 10px 0px rgba(171, 171, 171, 1);
    box-shadow: 0px 0px 10px -3px rgba(171, 171, 171, 1);

    h2 {
        // margin-left: 30px;
    }

}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 10px;

    li {
        flex: 1 1 25.5%;
        overflow: hidden;
        list-style: none;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
    }
}

.filters-container {
    border: solid 1px #e9ecef;
    border-radius: 8px;
    box-shadow: 0px 0px 10px -3px rgba(171, 171, 171, 1);
    padding: 10px;
    margin: 10px;
    font-size: 1.6rem;

    .filters {
        display: flex;
        justify-content: space-between;

        h2 {
            // margin-left: 30px;
        }
    }
}