<form class="filter-form" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div class="form-select">
    <label>Categories:</label>
    <select formControlName="categories">
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>
  </div>

  <div>
    <label>Start Date:</label>
    <input type="date" formControlName="startDate" />
  </div>

  <div>
    <label>End Date:</label>
    <input type="date" formControlName="endDate" />
  </div>

  <button type="submit" class="btn btn-primary">Apply Filters</button>
</form>
